/****** General ***********/

* {
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility;
}

:root {
	--main-color: #0065fc;
	--main-bg-color: #f2f2f2;
	--filter-bg-color: #deebff;
	--border-color: #d9d9d9;
}

.fa-solid {
	color: var(--main-color);
}

body {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.main__container {
	width: 100%;
	max-width: 1440px;
	padding: 0 50px;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

.section__title {
	margin: 0;
	font-size: 22px;
}

.card {
	background-color: white;
	border-radius: 20px;
	padding: 5px;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
	object-fit: cover;
}

.card__title {
	font-size: 16px;
}

.euro {
	font-weight: 700;
}

.neutral-star {
	color: var(--main-bg-color);
}

/****** Header ***********/

.appBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 79px;
}

.appBar__link {
	align-self: center;
}

.appBar__logo {
	width: 61px;
	height: 19px;
}

.appBar__nav {
	gap: 4.25rem;
	display: flex;
	height: 35px;
}

.appBar__navItem {
	padding-top: 10px;
	border-top: 2px solid white;
	font-size: 16px;
	font-weight: 400;
}

.appBar__navItem:hover {
	border-top-color: var(--main-color);
	color: var(--main-color);
}

/****** appSearch ***********/

.appSearch {
	margin: 30px 0 20px 0;
}

.primary__title {
	font-size: 22px;
}

.form__search {
	height: 49px;
	display: flex;
	margin-top: 20px;
}

.form__location {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: var(--main-bg-color);
	border-radius: 15px 0 0 15px;
}

.fa-location-dot {
	color: black;
	font-size: large;
}

.search__input {
	color: black;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	border: 1px solid var(--main-bg-color);
}

.search__input:focus,
.search__input:active {
	outline: none;
}

.search__btn {
	color: white;
	background-color: var(--main-color);
	border-radius: 0 15px 15px 0;
	border: none;
	height: 100%;
	cursor: pointer;
	padding: 0 20px;
	font-size: 18px;
	font-weight: 700;
}

.search__mobile {
	display: none;
	cursor: pointer;
}

.filters {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 20px;
}

.filters__title {
	font-size: 1.2rem;
}

.filters__btns {
	display: flex;
	gap: 10px;
	width: 100%;
}

.filters__btn {
	width: auto;
	padding: 4px 18px;
	gap: 10px;
	height: 50px;
	border-radius: 25px;
	border: 2px solid #d9d9d9;
	color: black;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 17px;
	font-weight: 700;
	background: white;
	white-space: nowrap;
}

.filters__btn i {
	font-size: 20px;
	width: 20px;
}

.filters__btn:hover {
	background-color: var(--filter-bg-color);
}

.disponibility {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 20px;
}

.fa-info {
	font-size: 10px;
	padding: 6px 9px;
	border: 1px solid var(--border-color);
	border-radius: 20px;
}

/****** Accommodations ***********/

.accommodations {
	width: 65%;
}

.accommodations__title:first-child {
	margin-bottom: 33px;
}

.accommodations__title:last-child {
	margin-top: 20px;
}

.accommodations__title:last-child .section__title {
	font-size: 18px;
}

.accommodations__cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}

.accommodations__cards .card__link {
	height: auto;
	width: calc(33% - 19px);
}

.accommodations__cards .card__img {
	width: 100%;
	height: 124px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.accommodations__cards .card__content {
	padding-left: 10px;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	height: 64px;
	margin-bottom: 15px;
}

.accommodations__cards .card__txt {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 45px;
}

.accommodations__cards .card__title {
	margin: 0;
}

.accommodations__cards .card__subtitle {
	margin: 0;
	font-size: 14px;
}

.accommodations__cards .card__rating {
	display: flex;
}

/****** Popular accommodations ***********/

.popular__accommodations {
	display: flex;
	justify-content: space-between;
}
.popular__accommodations section {
	background-color: var(--main-bg-color);
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
}

/****** Popular ***********/

.popular {
	width: 32%;
}

.popular__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.popular__cards .card {
	display: flex;
	margin-top: 33px;
}

.popular__cards img {
	width: 33%;
	height: 136px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.popular__cards .card__content {
	width: 67%;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.popular__cards .card__title {
	margin-top: 10px;
	margin-bottom: 4px;
}

.popular__cards .card__subtitle {
	margin: 0;
	font-size: 14px;
}

.popular__cards .card__rating {
	margin-bottom: 5px;
	display: flex;
	height: 19px;
	align-items: center;
}

/****** Activities ***********/

.activities {
	padding: 30px;
}

.activities .section__title {
	font-size: 22px;
	margin-top: 50px;
	margin-bottom: 30px;
}

.activities__block {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 50px;
}

.activities .card__link {
	height: auto;
	width: 25%;
}

.activities .card {
	padding: 0;
}

.activities .card__img {
	width: 100%;
	height: 380px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.activities .card__content {
	padding-left: 15px;
	display: flex;
	align-items: center;
	height: 59px;
}

.activities .card__title {
	margin: 0;
}

/****** Footer ***********/

.footer {
	padding: 30px;
	background-color: var(--main-bg-color);
	display: flex;
	justify-content: space-between;
	padding-right: 22%;
}

.footer__section {
	display: flex;
	flex-direction: column;
}

.footer .section__title {
	font-size: 18px;
}

.footer__section ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
}

.footer__link {
	font-size: 16px;
	font-weight: 400;
}

.footer__link:hover {
	text-decoration: underline;
}

/* Body responsive */
/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
	.main__container {
		padding: 0;
	}
}

/* appBar responsive */
/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
	.appBar {
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
	}

	.appBar__nav {
		padding-top: 0;
		padding-bottom: 8px;
		justify-content: center;
		width: 100%;
		gap: 0;
		border-bottom: 2px solid rgba(217, 217, 217, 0.5);
	}

	.appBar__navItem {
		padding-bottom: 31px;
		width: 100%;
		display: flex;
		justify-content: center;
		border-bottom: 2px solid transparent;
	}

	.appBar__navItem:hover {
		border-top-color: transparent;
		border-bottom-color: var(--main-color);
	}
}

/* appSearch responsive */
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
	.filters {
		flex-direction: column;
		align-items: flex-start;
	}

	.filters__btn {
		font-size: 16px;
	}
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
	.appSearch {
		padding: 0 20px;
	}

	.primary__title {
		font-size: 1.2em;
	}

	.form__search {
		width: 100%;
	}

	.search__input {
		width: 100%;
	}

	.search__btn {
		display: none;
	}

	.search__mobile {
		display: block;
		min-height: 49px;
		min-width: 49px;
		border: none;
		background: var(--main-color);
		border-radius: 15px;
		margin-left: -10px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
	}

	.fa-magnifying-glass {
		color: white;
		font-size: 17px;
	}

	.filters__title {
		width: 100%;
	}

	.filters__btns {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.filters__btn {
		width: calc(50% - 5px);
		min-width: 118px;
		font-size: 14px;
		padding: 4px 8px;
	}
}

/* Popular accommodations responsive */
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
	.popular__accommodations {
		flex-direction: column;
	}
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
	.popular__accommodations section {
		border-radius: 0;
	}

	.popular__accommodations section:first-child {
		background: white;
	}
}

/* Accommodations responsive */
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
	.accommodations {
		width: 100%;
	}
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
	.accommodations {
		order: 2;
	}

	.accommodations .card__link {
		width: 100%;
	}
}

/* Popular responsive */

@media (max-width: 1024px) {
	.popular {
		width: auto;
		margin-top: 50px;
	}

	.popular__cards {
		display: flex;
		justify-content: space-between;
		gap: 14px;
	}

	.popular__cards a {
		width: 32%;
	}
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
	.popular {
		order: 1;
		padding: 30px 20px;
		margin: 20px 0;
	}

	.popular__cards {
		flex-direction: column;
	}

	.popular__cards a {
		width: 100%;
	}
}

/* Activites responsive */
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
	.activities {
		height: 390px;
	}

	.activities .card__img {
		height: 200px;
	}

	.activities .card__content {
		height: 70px;
	}
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
	.activities {
		height: auto;
	}

	.activities__block {
		flex-direction: column;
		align-items: center;
	}

	.activities .card__link {
		width: 100%;
	}

	.activities .card__img {
		height: 141px;
	}
}

/* Footer responsive */
/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
	.footer {
		flex-direction: column;
		height: 461px;
		box-sizing: border-box;
	}
}
